
.titleGallary {
    font-weight: 700;
    font-size: 20pt;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #1A2F3E;
}

.gall {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    
}

.gallary .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 12px;
}

.pics img {
    width: 100%;
    margin: 10px;
}

@media (max-width: 991px){
    .gall  {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 480px){
    .gall  {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}